@media (max-width: 700px) {
   
    .screen__center
    {
        width: 100vw;
        font-size: 10px;
    }

    .screen__header
    {
        width: 90%;
        flex-direction: column;
        justify-content: space-between;
    }
}